/* locobasic.css */

body {
  background-color: beige;
}

.area {
  margin-bottom: 10px;
  max-width: 704px;
}

.toolbarAreaInner {
  background-color: lightgray;
  padding: 2px;
  padding-bottom: 5px;
  border: 1px solid gray;
}

.toolbarLine {
  padding: 4px;
}

.toolbarLineItemRight {
  float: right;
}

#outputText {
  overflow: auto;
  height: 30em;
  padding: 2px;
  margin: 0px;
  background-color: #ffffff;
  resize: both;
  border: 1px solid grey;
}

.CodeMirror {
  border: 1px solid grey;
  resize: horizontal;
}

.buttonPopoverContainer {
	display: inline-flex;
}

.popover {
	margin-top: 1.5em;
	padding: 2px;
	border: 0.5px solid #7A7A7A;
	position: absolute;
	background-color: WhiteSmoke;
  z-index: 1;
}

.popoverElement {
	margin: 3px;
}

#startSpeechButton {
  background-color: #4CAF50;
}

#startSpeechButton:hover {
  background-color: #45a049;
}
